[Unit]
Description=Reinstall system Flatpaks as user
Wants=network-online.target
After=network-online.target bazzite-hardware-setup.service bazzite-flatpak-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/bazzite-cosmic-flatpak-manager
Restart=on-failure
RestartSec=30
StartLimitInterval=0
